/* .bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  } */
  
  /*
   * Sidebar
   */
/*   
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  } */
  
  /*
   * Navbar
   */
/*   
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  } */

  .custom-nav-item .nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #ffffff; /* White text */
    background-color: #007bff; /* Bootstrap primary blue */
    border: 1px solid transparent; /* Default border */
    border-radius: 0.25rem; /* Border radius */
    text-align: center;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }

  .custom-nav-item .nav-link:hover {
    background-color: #f8f9fa; /* Light grey background */
    border: 1px solid #17a2b8; /* Light blue border */
    color: #007bff; /* Bootstrap primary blue text */
  }
